//service cards
.services {
  display: grid;
  grid-template-columns: repeat(4, 1fr); // exactly 4 in one row
  gap: 2rem;
  padding: 2rem;
  background: white;
  margin-top: 2rem;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 300px) {
    grid-template-columns: 1fr;
  }
}

.key-card {
  background: linear-gradient(120deg, #f8f9fc, #d3d3ff);
  border: 3px solid #c0c0e0;
  border-radius: 1.5rem;
  height: 150px;
  width: 200px;
  img {
    border: none;
    border-radius: 0;
  }
}
